@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-blue-400;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.game-item {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 12px;
}